body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000;
}

.game-container {
    position: relative;
    width: 800px;
    height: 400px;
    background-color: #222;
    border: 2px solid #fff;
}

.ball {
    width: 20px;
    height: 20px;
    background-color: #fff;
    position: absolute;
    border-radius: 50%;
}

.paddle {
    width: 20px;
    height: 100px;
    background-color: #fff;
    position: absolute;
}
